<h3>Meassages</h3>
<table class="table table-striped" style="width:100%;">
    <tr>
        <td style="width:5%;">#</td>
        <td style="width:10%;">Name</td>
        <td style="width:25%;">Email</td>
        <td style="width:50%;">Message</td>
    </tr>
<&php foreach ($data as $item) { ?>
    <tr>
        <td style="width:5%;">#</td>
        <td style="width:10%;">Name</td>
        <td style="width:25%;">Email</td>
        <td style="width:50%;">Message</td>
    </tr>
    <&php } ?>
</table>