<h3>Задание по вакансии  "Junior PHP developer" компании "KeyTraff" </h3>

Вывести запросы с использованием php,mysql,AJAX, jQuery, Bootstrap. </br>
Есть 3 таблицы (в приложенном файле): offers (товары), operators (операторы), requests (заказы)</br>
<h4>Вывести такие варианты запросов:</h4>
<ol>
 <li>Номер заказа, имя товара, цена, количество, имя оператора за которым числится заказ ,ГДЕ количество товара >2 И id оператора 10 ИЛИ 12</li>
<li>Имя товара, количество товара, и сумма (price) по каждому товару (сгруппировать)</li> 
</ol>


<h3>Demo</h3>
<ul>
        <li class="h3"><a href="/request1/" >Запрос #1</a></li>
  
        <li class="h3"><a href="/request2/" >Запрос #2</a></li>
</ul>
  
    



